.popup {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.close-btn {
  background-color: #bf6a39;
  color: white;
  border: solid 1px #bf6a39;
  border-radius: 4px;
  width: 15rem;
}
