@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
.header {
  background-color: #bf6a39;
}

.nav-link {
  color: #f2d6bd;
}

.directions {
  color: #bf6a39;
  font-size: 2rem;
}

.link {
  text-decoration: none;
  color: #f2d6bd;
}

.nav-pills {
  color: #f2d6bd;
}

.header-link {
  margin-left: 2rem;
  margin-top: 0.5rem;
  &__about {
    margin-left: 6.5rem;
    margin-top: 0.5rem;
  }
}

.link {
  &__logo {
    font-family: "Monoton", cursive;
  }
}

@media only screen and (min-width: 768px) {
  .link {
    &__logo {
      margin-left: 13rem;
    }
  }
  .header-link {
    &__about {
      margin-left: 2rem;
      margin-top: 0.5rem;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .link {
    &__logo {
      margin-left: 0;
    }
  }
}
