.formandlist {
  display: flex;
  width: auto;
  justify-content: center;
  flex-direction: row;
  border: solid black;
}

.pagehead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: solid black 1px;
}

.btn-primary {
  background-color: #bf6a39;
  color: white;
  border: solid 1px #bf6a39;
}

.areafind {
  display: none;
}

.layout {
  display: flex;
  border: solid black;
  justify-content: space-evenly;
}
