.formandlist {
  display: flex;
  width: auto;
  justify-content: center;
  flex-direction: row;
}

.pagehead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
